<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MVC with Vanilla.JS</title>
  <link rel="stylesheet" href="./style.css">
</head>
<body>
  <div id="app">
    <header>
      <h2 class="container">검색</h2>
    </header>

    <div class="container">
      <search-form v-bind:value="query" v-on:@submit="onSubmit"
        v-on:@reset="onReset"></search-form>

      <div class="content">
        <div v-if="submitted">
          <search-result v-bind:data="searchResult" v-bind:query="query"></search-result>
        </div>
        <div v-else>
          <ul class="tabs">
            <li v-for="tab in tabs" v-bind:class="{active: tab === selectedTab}"
            v-on:click="onClickTab(tab)">
              {{tab}}
            </li>
          </ul>

          <div v-if="selectedTab === tabs[0]">
            <list v-bind:data="keywords" type="keywords" v-on:@click="onClickKeyword"></list>
          </div>
          <div v-else>
            <list v-bind:data="history" type="history" v-on:@click="onClickKeyword"
              v-on:@remove="onClickRemoveHistory"></list>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://unpkg.com/vue"></script>
  <script type="module" src="./js/app.js"></script>
</body>
</html>

<template id="search-form">
  <form v-on:submit.prevent="onSubmit">
    <input type="text" v-model="inputValue" v-on:keyup="onKeyup" placeholder="검색어를 입력하세요" autofocus>
    <button v-show="inputValue.length" v-on:click="onReset" type="reset" class="btn-reset"></button>
  </form>  
</template>

<template id="search-result">
  <div v-if="data.length">
    <ul>
      <li v-for="item in data">
        <img v-bind:src="item.image"> {{item.name}}
      </li>
    </ul>
  </div>
  <div v-else>
    {{query}} 검색어로 찾을수 없습니다 
  </div>
</template>

<template id="list">
  <div v-if="data.length">
    <ul class="list">
      <li v-for="(item, index) in data" 
          v-on:click="onClickList(item.keyword)">
        <span v-if="type === 'keyword'" class="number">{{index + 1}}</span> 
        {{item.keyword}}
        <span v-if="type === 'history'" class="date">{{item.date}}</span>
        <button v-if="type === 'history'"  class="btn-remove" 
          v-on:click.stop="onRemoveList(item.keyword)"></button>
      </li>
    </ul>
  </div>
  <div v-else>
    <span v-if="type === 'keyword'">추천 검색어가 없습니다</span>
    <span v-if="type === 'history'">최근 검색어가 없습니다</span>
  </div>
</template>